[Unit]
Description=node_exporter
StartLimitIntervalSec=0

[Service]
Type=exec
KillMode=process
ExecStart=node_exporter --web.listen-address=localhost:9100 --web.disable-exporter-metrics

[Install]
WantedBy=multi-user.target

